<a href="https://colab.research.google.com/github/prinobre/prinobre/blob/main/Aula5_Medidas_de_posicaoipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
base = pd.read_csv("penguins_size.csv")

In [ ]:
base

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [ ]:
# observar os nomes das colunas
base.columns

Index(['species', 'island', 'culmen_length_mm', 'culmen_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [ ]:
# Verificar quantas linhas (observaÃ§Ãµes) e colunas (variÃ¡veis)
base.shape
# hÃ¡ 344 linhas e 7 colunas

(344, 7)

In [ ]:
Analisar uma variÃ¡vel peso

SyntaxError: invalid syntax (<ipython-input-18-d34f428fdedb>, line 1)

In [ ]:
# Amplitude (maior e menor peso)

minimo = base['body_mass_g'].min()
maximo = base ['body_mass_g'].max()
print('Amplitude', maximo-minimo)

Amplitude 3600.0

In [ ]:
# media de peso dos pinguins
media = base['body_mass_g'].mean()
media

4201.754385964912

In [ ]:
from pandas.compat.numpy.function import MEDIAN_DEFAULTS

# observar a mÃ©dia de pesos considerando o sexo dos penguins

media = base.groupby(['sex'])['body_mass_g'].mean()

media

sex
.         4875.000000
FEMALE    3862.272727
MALE      4545.684524
Name: body_mass_g, dtype: float64

In [ ]:
# moda  (o valor que mais se repetiu)
moda = base['body_mass_g'].mode()
moda

0    3800.0
Name: body_mass_g, dtype: float64

In [ ]:
# mediana (o meio da amostra, divide um conjunto de dados ordenados em duas partes)

mediana = base['body_mass_g'].median()
mediana

4050.0

In [ ]:
# Quartis - dividem um conjunto em 4 partes
# primeiro quartil : 25% dos dados
quartil1 = base['body_mass_g'].quantile(q=0.25)
quartil1

3550.0

In [ ]:
# segundo quartil, 50% ou seja Ã© o mesmo valor da mediana
quartil2 = base['body_mass_g'].quantile(q=0.50)
quartil2

4050.0

In [ ]:
# terceiro quartil, 75%
quartil3 = base['body_mass_g'].quantile(q=0.75)
quartil3

4750.0

In [ ]:
# quarto quartil, 100%
quartil4 = base['body_mass_g'].quantile(q=1.00)
quartil4

6300.0

In [ ]:
# exercÃ­cio apostila, contar a frequÃªncia de aparecimento das espÃ©cies
frequencia=base['species'].value_counts()
frequencia

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [ ]:
# Contar a quantidade em % usando o parametro normalize
porcentagem = base['species'].value_counts(normalize = True )*100
porcentagem

species
Adelie       44.186047
Gentoo       36.046512
Chinstrap    19.767442
Name: proportion, dtype: float64

In [ ]:
# montar a tabela com a frequÃªncia e a % de cada frequÃªncia

distr_frequencia = pd.DataFrame({"FrequÃªncia":frequencia, "Porcentagem (%)": porcentagem})
print(distr_frequencia)

           FrequÃªncia  Porcentagem (%)
species
Adelie            152        44.186047
Gentoo            124        36.046512
Chinstrap          68        19.767442

In [ ]:
# Valores ausentes. isna (is null ou seja Ã© nulo) e soma no final a qtd de nulos

base['body_mass_g'].isna().sum()

# temos 2 valores nulos/ausentes

2

In [ ]:
# soma do peso
soma = base['body_mass_g'].sum()
soma

1437000.0

In [ ]:
# contar quantos pesos
base['body_mass_g'].count()

342

In [ ]:
# media usando a quantidade e o total de peso

media = 1437000.0/342
media

4201.754385964912

In [ ]:
# ou

media = base['body_mass_g'].mean()
media

4201.754385964912

In [ ]:
# peso mÃ©dia por espÃ©cies
media = base.groupby(['species'])['body_mass_g'].mean()
media

species
Adelie       3700.662252
Chinstrap    3733.088235
Gentoo       5076.016260
Name: body_mass_g, dtype: float64