<a href="https://colab.research.google.com/github/prinobre/prinobre/blob/main/Exercicios_medidas_posicao_dispersao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Praticar as medidas de Dispersão aprendidas, usando a variável 'bill_depth_mm'

In [ ]:
import pandas as pd

In [ ]:
base = pd.read_csv('penguins.csv')

In [ ]:
base

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [ ]:
# desvio médio absoluto (não funciona) De acordo com a documentação não existe mac então usei abs
base.bill_depth_mm.abs()

0      18.7
1      17.4
2      18.0
3       NaN
4      19.3
       ...
339     NaN
340    14.3
341    15.7
342    14.8
343    16.1
Name: bill_depth_mm, Length: 344, dtype: float64

In [ ]:
# variancia da variável bill_dept_mm (como os valores se distribuem ao longo da média)

base.bill_depth_mm.var()

3.8998080122103893

In [ ]:
# Desvio padrão (quanto maior o valor mais dispersos estão os valores)
# O desvio padrão (DP) é definido como a raiz quadrada da variância (V).
#A vantagem de usar o desvio padrão ao invés da variância é que o desvio padrão é expresso na mesma unidade dos dados, o que facilita a comparação.

base.bill_depth_mm.std()

1.9747931568167816

In [ ]:
# Máximo
maximo = base.bill_depth_mm.max()
maximo

21.5

In [ ]:
# Mínimo
minimo = base.bill_depth_mm.min()
minimo

13.1

In [ ]:
base.bill_depth_mm.describe()

count    342.000000
mean      17.151170
std        1.974793
min       13.100000
25%       15.600000
50%       17.300000
75%       18.700000
max       21.500000
Name: bill_depth_mm, dtype: float64

In [ ]:
base.bill_depth_mm.quantile(0.25)

15.6

In [ ]:
base.bill_depth_mm.quantile(0.50)

17.3

In [ ]:
base.bill_depth_mm.quantile(0.75)

18.7

In [ ]:
# o quartil 50% é igual a mediana, que é o meio da amostra
base.bill_depth_mm.median()

17.3

In [ ]:
# analisar a tabela tem 344 linhas e 7 colunas
base.shape

(344, 7)

In [ ]:
# analisar as colunas
base.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [ ]:
amplitude = maximo - minimo
amplitude

8.4

In [ ]:
# media da variável bill_depht_mm
media = base.bill_depth_mm.mean()
print(media)

17.151169590643278

In [ ]:
# observar a média de bill_depth_mm considerando o sexo dos penguins

from pandas.compat.numpy.function import MEDIAN_DEFAULTS

media = base.groupby(['sex'])['bill_depth_mm'].mean()

media

sex
FEMALE    16.425455
MALE      17.891071
Name: bill_depth_mm, dtype: float64

In [ ]:
# contar a % usando o parametro normalize e value_count que é um modo de histograma (contagem de quantos valores em determinada amostra)

porcentagem = base['species'].value_counts(normalize = True)*100
porcentagem

species
Adelie       44.186047
Gentoo       36.046512
Chinstrap    19.767442
Name: proportion, dtype: float64

In [ ]:
# quantos valores nulos tem na variável bill_depth_mm
base['bill_depth_mm'].isna().sum()

2

In [ ]:
# quantos valores nulos tem na variável bill_lenght_mm
base['bill_length_mm'].isna().sum()

2

In [ ]:
# soma da virável bill_depth

base.bill_depth_mm.sum()

5865.700000000001

In [ ]:
# soma da virável bill_lenght

base.bill_length_mm.sum()

15021.3

In [ ]:
# Média da variável bill_depth_mm por espécies

media = base.groupby(['species'])['bill_depth_mm'].mean()
media

species
Adelie       18.346358
Chinstrap    18.420588
Gentoo       14.982114
Name: bill_depth_mm, dtype: float64